 /* Basic reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full viewport size */
html, body {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

a {
    color: #4472C4;
    text-decoration: none;
}

.resume {
    width: 210mm;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.left-column {
    flex: 1;
    text-align: left;
    margin-left: 5px;
}

.right-column {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.right-column table {
    border-collapse: collapse;
}

.right-column td.label {
    text-align: right;
    vertical-align: text-top;
    min-width: 80px;
    color: black;
    padding-bottom: 5px;
}

.right-column td.value {
    text-align: left;
    padding-left: 5px;
    vertical-align: text-top;
    padding-bottom: 5px;
}

.header h1 {
    margin-bottom: 5px;
    margin-right: 10px;
    color: #4472C4;
}

.header h5 {
    margin-left: 1px;
}

.header p {
    font-size: 14px;
}

.section {
    margin-top: 20px;
}

.section h2 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid #4472C4;
    padding-bottom: 7px;
    color: #4472C4;
}

.section h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.section h5 {
    margin-bottom: 10px;
}

.section ul {
    list-style: none; /* Remove default bullets */
    padding-left: 1.5em; /* Add left padding to make space for custom bullets */
}

.section ul li {
    margin-bottom: 10px; /* Add space between list items */
    position: relative; /* Create a positioning context for the custom bullet */
    padding-left: 1.5em; /* Add left padding to make space for custom bullets */
    margin-right: 40px;
}

.section ul li::before {
    content: "•"; /* Custom bullet symbol */
    position: absolute; /* Position it absolutely within the li */
    left: 0; /* Align the bullet to the left */
    top: 0; /* Align the bullet to the top */
    color: black; /* Bullet color */
}

.cert-icons {
    max-width: 100%;  /* The image will not be wider than 100% of its container */
    max-height: 100px;  /* Set the maximum height to 300px */
    height: auto;  /* Maintain the aspect ratio */
}

.cert-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Adjust the gap size as needed */
    align-content: center;
}

.job-container {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#visitorCount {
    position: relative;
  }

  .spinner {
    position: bottom;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #4472C4;
    animation: spin 1s ease infinite;
    display: none; /* Hide the spinner initially */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }